{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<main id="content" role="main">
    <!-- breadcrumb -->
    <div class="bg-gray-13 bg-md-transparent">
        <div class="container">
            <!-- breadcrumb -->
            <div class="my-md-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="{{ product_object.category_id.get_absolute_url }}">{{ product_object.category_id.name }}</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">{{ product_object.name }}</li>
                    </ol>
                </nav>
            </div>
            <!-- End breadcrumb -->
        </div>
    </div>
    <!-- End breadcrumb -->

    <div class="container">
        <!-- Single Product Body -->
        <div class="mb-14">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-5 mb-4 mb-md-0">
                    <div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2"
                        data-infinite="true"
                        data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
                        data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
                        data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
                        data-nav-for="#sliderSyncingThumb">
                        {% for image in product_images %}
                            <div class="js-slide">
                                <img class="img-fluid" src="{{ image.image.url }}" alt="{{ product_object.name }}">
                            </div>
                        {% endfor %}
                    </div>

                    <div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--slider-syncing u-slick--slider-syncing-size u-slick--gutters-1 u-slick--transform-off"
                        data-infinite="true"
                        data-slides-show="5"
                        data-is-thumbs="true"
                        data-nav-for="#sliderSyncingNav">
                        {% for image in product_images %}
                            <div class="js-slide" style="cursor: pointer;">
                                <img class="img-fluid" src="{{ image.image.url }}" alt="{{ product_object.name }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 mb-md-6 mb-lg-0">
                    <div class="mb-2">
                        <a href="{{ product_object.category_id.get_absolute_url }}" class="font-size-12 text-gray-5 mb-2 d-inline-block">{{ product_object.category_id.name }}</a>
                        <h2 class="font-size-25 text-lh-1dot2">{{ product_object.name }}</h2>
                        <div class="mb-2">
                            <a class="d-inline-flex align-items-center small font-size-15 text-lh-1">
                                <div class="text-warning mr-2">
                                    {% for i in '12345'|make_list %}
                                        {% if product_object.get_reviews_avg > forloop.counter0 %}
                                            <small class="fas fa-star"></small>
                                        {% else %}
                                            <small class="far fa-star text-muted"></small>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <span class="text-secondary font-size-13">({{ product_object.get_reviews_count }} відгуків користувачів)</span>
                            </a>
                        </div>
                        <div class="mb-2">
                            <p>{{ product_object.description_short }}</p>
                            <!-- <ul class="font-size-14 pl-3 ml-1 text-gray-110">
                                <li>4.5 inch HD Touch Screen (1280 x 720)</li>
                                <li>Android 4.4 KitKat OS</li>
                                <li>1.4 GHz Quad Core™ Processor</li>
                                <li>20 MP Electro and 28 megapixel CMOS rear camera</li>
                            </ul> -->
                        </div>
                        <p><strong>Артикул</strong>: {{ product_object.sku }}</p>
                    </div>
                </div>
                <div class="mx-md-auto mx-lg-0 col-md-6 col-lg-4 col-xl-3">
                    <div class="mb-2">
                        <div class="card p-5 border-width-2 border-color-1 borders-radius-17">
                            <div class="text-gray-9 font-size-14 pb-2 border-color-1 border-bottom mb-3">
                                Наявність: 
                                {% if product_object.availability == 0 %}
                                <span class="text-red font-weight-bold">Немає в наявності</span>
                                {% elif product_object.availability == -1 %}
                                <span class="text-yellow font-weight-bold">Під замовлення</span>
                                {% else %}
                                <span class="text-green font-weight-bold">{{ product_object.availability }} шт.</span>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <div class="font-size-36">{{ product_object.get_price }}</div>
                            </div>
                            <div class="mb-3">
                                <h6 class="font-size-14">Кількість</h6>
                                <!-- Quantity -->
                                <div class="border rounded-pill py-1 w-md-60 height-35 px-3 border-color-1">
                                    <div class="js-quantity row align-items-center">
                                        <div class="col">
                                            <input class="js-result form-control h-auto border-0 rounded p-0 shadow-none" type="text" value="1">
                                        </div>
                                        <div class="col-auto pr-1">
                                            <a class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" href="javascript:;">
                                                <small class="fas fa-minus btn-icon__inner"></small>
                                            </a>
                                            <a class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" href="javascript:;">
                                                <small class="fas fa-plus btn-icon__inner"></small>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Quantity -->
                            </div>
                            <!-- <div class="mb-3">
                                <h6 class="font-size-14">Color</h6>
                                <select class="js-select selectpicker dropdown-select btn-block col-12 px-0"
                                    data-style="btn-sm bg-white font-weight-normal py-2 border">
                                    <option value="one" selected>White with Gold</option>
                                    <option value="two">Red</option>
                                    <option value="three">Green</option>
                                    <option value="four">Blue</option>
                                </select>
                            </div> -->
                            <div class="mb-2 pb-0dot5">
                                <a href="#" class="btn btn-block btn-primary-dark"><i class="ec ec-add-to-cart mr-2 font-size-20"></i> Add to Cart</a>
                            </div>
                            <div class="mb-3">
                                <a href="#" class="btn btn-block btn-dark">Buy Now</a>
                            </div>
                            <div class="flex-content-center flex-wrap">
                                <a href="{% url 'wishlist' %}" data-id="{{product_object.pk}}" onclick=addToWishList(this.dataset.id) class="text-gray-6 font-size-13 mr-2"><i class="ec ec-favorites mr-1 font-size-15"></i> Додати в список бажаного</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Product Body -->
        <!-- Single Product Tab -->
        <div class="mb-8">
            <div class="position-relative position-md-static px-md-6">
                <ul class="nav nav-classic nav-tab nav-tab-lg justify-content-xl-center flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble border-0 pb-1 pb-xl-0 mb-n1 mb-xl-0" id="pills-tab-8" role="tablist">
                    <li class="nav-item flex-shrink-0 flex-xl-shrink-1 z-index-2">
                        <a class="nav-link active" id="Jpills-two-example1-tab" data-toggle="pill" href="#Jpills-two-example1" role="tab" aria-controls="Jpills-two-example1" aria-selected="false">Опис</a>
                    </li>
                    <li class="nav-item flex-shrink-0 flex-xl-shrink-1 z-index-2">
                        <a class="nav-link" id="Jpills-four-example1-tab" data-toggle="pill" href="#Jpills-four-example1" role="tab" aria-controls="Jpills-four-example1" aria-selected="false">Відгуки</a>
                    </li>
                </ul>
            </div>
            <!-- Tab Content -->
            <div class="borders-radius-17 border p-4 mt-4 mt-md-0 px-lg-10 py-lg-9">
                <div class="tab-content" id="Jpills-tabContent">
                    <div class="tab-pane fade active show" id="Jpills-two-example1" role="tabpanel" aria-labelledby="Jpills-two-example1-tab">
                        <h3 class="font-size-24 mb-3">Опис продукту</h3>
                        <p>{{ product_object.description }}</p>

                        <ul class="nav flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                            <li class="nav-item text-gray-111 flex-shrink-0 flex-xl-shrink-1"><strong>Артикул:</strong> <span class="sku">{{ product_object.sku }}</span></li>
                            <li class="nav-item text-gray-111 mx-3 flex-shrink-0 flex-xl-shrink-1">/</li>
                            <li class="nav-item text-gray-111 flex-shrink-0 flex-xl-shrink-1"><strong>Категорія:</strong> <a href="#" class="text-blue">{{ product_object.name }}</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="Jpills-four-example1" role="tabpanel" aria-labelledby="Jpills-four-example1-tab">
                        <div class="row mb-8">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h3 class="font-size-18 mb-6">Based on {{ product_object.get_reviews_count }} reviews</h3>
                                    <h2 class="font-size-30 font-weight-bold text-lh-1 mb-0">{{ product_object.get_reviews_avg }}</h2>
                                    <div class="text-lh-1">overall</div>
                                </div>

                                <!-- Ratings -->
                                <ul class="list-unstyled">
                                    {% for count in product_object.get_reviews_division %}
                                    <li class="py-1">
                                        <a class="row align-items-center mx-gutters-2 font-size-1" href="javascript:;">
                                            <div class="col-auto mb-2 mb-md-0">
                                                <div class="text-warning text-ls-n2 font-size-16" style="width: 80px;">
                                                    {% if forloop.counter == 1 %}
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                    {% elif forloop.counter == 2 %}
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="far fa-star text-muted"></small>
                                                    {% elif forloop.counter == 3 %}
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="far fa-star text-muted"></small>
                                                        <small class="far fa-star text-muted"></small>
                                                    {% elif forloop.counter == 4 %}
                                                        <small class="fas fa-star"></small>
                                                        <small class="fas fa-star"></small>
                                                        <small class="far fa-star text-muted"></small>
                                                        <small class="far fa-star text-muted"></small>
                                                        <small class="far fa-star text-muted"></small>
                                                    {% elif forloop.counter == 5 %}
                                                        <small class="fas fa-star"></small>
                                                        <small class="far fa-star text-muted"></small>
                                                        <small class="far fa-star text-muted"></small>
                                                        <small class="far fa-star text-muted"></small>
                                                        <small class="far fa-star text-muted"></small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-auto mb-2 mb-md-0">
                                                <div class="progress ml-xl-5" style="height: 10px; width: 200px;">
                                                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="col-auto text-right">
                                                <span class="text-gray-90">{{ count }}</span>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <!-- End Ratings -->
                            </div>
                            <div class="col-md-6">
                                <h3 class="font-size-18 mb-5">Додайте відгук</h3>
                                <!-- Form -->
                                <form class="js-validate" method="post">
                                    {% csrf_token %}
                                    <input id="stars_count" name="stars" value="1" type="number" hidden>
                                    <div class="row align-items-center mb-4">
                                        <div class="col-md-4 col-lg-3">
                                            <label for="rating" class="form-label mb-0">Ваша Оцінка</label>
                                        </div>
                                        <div class="col-md-8 col-lg-9">
                                            <a class="d-block">
                                                <div class="stars_block text-warning text-ls-n2 font-size-16">
                                                    <small onclick=onStarChosen(1) class="fas fa-star text-muted"></small>
                                                    <small onclick=onStarChosen(2) class="fas fa-star text-muted"></small>
                                                    <small onclick=onStarChosen(3) class="fas fa-star text-muted"></small>
                                                    <small onclick=onStarChosen(4) class="fas fa-star text-muted"></small>
                                                    <small onclick=onStarChosen(5) class="fas fa-star text-muted"></small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="js-form-message form-group mb-3 row">
                                        <div class="col-md-4 col-lg-3">
                                            <label for="descriptionTextarea" class="form-label">Ваш Відгук</label>
                                        </div>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea class="form-control" rows="3" id="descriptionTextarea"
                                            data-msg="Введіть відгук."
                                            name="review"
                                            data-error-class="u-has-error"
                                            data-success-class="u-has-success"></textarea>
                                        </div>
                                    </div>
                                    <div class="js-form-message form-group mb-3 row">
                                        <div class="col-md-4 col-lg-3">
                                            <label for="inputName" class="form-label">Ім'я <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="text" class="form-control" name="name" id="inputName" aria-label="Alex Hecker" required
                                            data-msg="Введіть ваше ім'я."
                                            name="name"
                                            data-error-class="u-has-error"
                                            data-success-class="u-has-success">
                                        </div>
                                    </div>
                                    <div class="js-form-message form-group mb-3 row">
                                        <div class="col-md-4 col-lg-3">
                                            <label for="emailAddress" class="form-label">Email <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="email" class="form-control" id="emailAddress" aria-label="user@google.com" required
                                            data-msg="Будь ласка введіть коректну адресу."
                                            name="email"
                                            data-error-class="u-has-error"
                                            data-success-class="u-has-success">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="offset-md-4 offset-lg-3 col-auto">
                                            <button type="submit" class="btn btn-primary-dark btn-wide transition-3d-hover">Додати відгук</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End Form -->
                            </div>
                        </div>
                        <!-- Review -->
                        {% for review in product_reviews %}
                        <div class="border-bottom border-color-1 pb-4 mb-4">
                            <!-- Review Rating -->
                            <div class="d-flex justify-content-between align-items-center text-secondary font-size-1 mb-2">
                                <div class="text-warning text-ls-n2 font-size-16" style="width: 80px;">
                                    {% for i in '12345'|make_list %}
                                        {% if review.rate > forloop.counter0 %}
                                            <small class="fas fa-star"></small>
                                        {% else %}
                                            <small class="far fa-star text-muted"></small>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- End Review Rating -->

                            <p class="text-gray-90">{{ review.description }}</p>

                            <!-- Reviewer -->
                            <div class="mb-2">
                                <strong>{{ review.name }}</strong>
                                <span class="font-size-13 text-gray-23">- {{ review.creation_date|date:'d.m.Y' }}</span>
                            </div>
                            <!-- End Reviewer -->
                        </div>
                        {% endfor %}
                        <!-- End Review -->
                    </div>
                </div>
            </div>
            <!-- End Tab Content -->
        </div>
        <!-- End Single Product Tab -->
    </div>
    <script src="{% static 'shop/js/product.js' %}"></script>
</main>
{% endblock %}